# SPDX-License-Identifier: MIT
---
# handlers file for nbde_client.
- name: Handle nbde_client update initramfs
  when:
    - __nbde_client_update_initramfs | bool
    - __nbde_client_initramfs_update_cmd | default("") | length > 0
  command: "{{ __nbde_client_initramfs_update_cmd }}"
  changed_when: false

# vim:set ts=2 sw=2 et:
